In [1]:
from pathlib import Path

from report_config import DATA_DIR, REPORT_DIR, SUB_EXPERIMENTS_NAME_START, ATTRIBUTES
from report_utils import (create_reporting_process_dict, 
                          get_filtered_attributes, 
                          build_analyze_graph, 
                          create_confusion_reports, 
                          create_combined_reports, 
)

/Users/jf/.pyenv/versions/3.10.0/envs/arm_310thesis/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Process the experiment data directories 

**This is mandatory**

Creating a dictionary of the experiment names, data directories, and corresponding experiment data files.

In [2]:
d_experiments = create_reporting_process_dict(data_dir=DATA_DIR, 
                                              sub_ex_name_start=SUB_EXPERIMENTS_NAME_START, 
                                              )

Experiment/Graph name(s) found:
pokec semi
/Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/pokec_semi/resources
With
  Graph 0
pokec distinct
/Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/pokec_distinct/resources
With
  Graph 1
  Graph 0

In [3]:
# print(d_experiments)
print(d_experiments.keys())
for key in d_experiments.keys():
    print(key)
    print(d_experiments[key]["Graph_nrs"])
    print(d_experiments[key]["Experiment_dir"])

dict_keys(['pokec semi', 'pokec distinct'])
pokec semi
[0]
/Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/pokec_semi
pokec distinct
[1, 0]
/Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/pokec_distinct

## Choose the experiments and graphs to process

**This is mandatory**

- set the names of the experiment(s), and the index of the graph(s) to process

In [4]:
experiments_list = [exp for exp in d_experiments.keys()]

# experiments_list = ['pokec distinct']
# print(experiments_list)
graph_nrs = [
    0, 
    1, 
    ]

# print("Attributes: ", ATTRIBUTES)
attributes = [f"label_{attr}" for attr in ATTRIBUTES]
# print(attributes)

d_graph_filtered_attributes = get_filtered_attributes(d_experiments=d_experiments,
                                                                     experiments_list=experiments_list, 
                                                                     graph_nrs=graph_nrs,
                                                                     attributes=attributes, 
                                                                     )
d_graph_filtered_attributes

Graph 1 of experiment pokec semi not found in the dictionary

defaultdict(dict,
            {'pokec semi': {'Graph_nr_0':       user_id  label_region  label_AGE
              0        2142             0          2
              1        3647             0          2
              2        4916             0          2
              3        7587             0          2
              4        8124             0          2
              ...       ...           ...        ...
              9235  1596545             3          2
              9236  1599400             3          2
              9237  1621406             3          2
              9238  1625668             3          2
              9239  1625748             3          2

              [9240 rows x 3 columns]},
             'pokec distinct': {'Graph_nr_0':       user_id  label_region  label_AGE
              0        1988             0          1
              1       25028             0          2
              2       40738             0          1
              3       54987             0          0
              4       65155             0          1
              ...       ...           ...        ...
              2499  1572048             2          2
              2500  1581810             2          2
              2501  1590462             2          2
              2502  1612784             2          2
              2503  1612790             2          2

              [2504 rows x 3 columns],
              'Graph_nr_1':        user_id  label_region  label_AGE
              0           11             0          2
              1           12             0          2
              2          211             0          2
              3          212             0          1
              4          213             0          1
              ...        ...           ...        ...
              10287  1632200             1          2
              10288  1632353             1          2
              10289  1632405             1          2
              10290  1632587             1          2
              10291  1632803             1          2

              [10292 rows x 3 columns]}})

In [5]:
d_graph_filtered_attributes.keys()

dict_keys(['pokec semi', 'pokec distinct'])

In [6]:
df_filtered_attributes = d_graph_filtered_attributes.get('pokec distinct').get(f"Graph_nr_0")
df_filtered_attributes.head()

   user_id  label_region  label_AGE
0     1988             0          1
1    25028             0          2
2    40738             0          1
3    54987             0          0
4    65155             0          1

## Create a Visula plots and a CSV with some graph data; as connectivity, number of nodes, number of edges, etc.

**This is optional** (time full example: <1min)

note: igraph and networkx tools can be expanded in \data_utils\graph

In [7]:
build_analyze_graph(d_experiments=d_experiments,
                                    experiments_list=experiments_list,
                                    graph_nrs=graph_nrs,
                                    report_dir=REPORT_DIR,
                                    attributes=ATTRIBUTES,
                                    )

Graph 0 of experiment pokec semi analyzed
 and saved to /Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/reports / graph_plots and / graph_specs
Graph 0 of experiment pokec distinct analyzed
 and saved to /Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/reports / graph_plots and / graph_specs
Graph 1 of experiment pokec distinct analyzed
 and saved to /Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/reports / graph_plots and / graph_specs

# Create confusion matrix and avg classification reports

note: This needs some time to run (<1min for full example ).

### Confusion matrices 
The results are saved in the \reports\confusion_reports directory.

In [8]:
create_confusion_reports(d_experiments=d_experiments, 
                                             d_graph_filtered_attributes=d_graph_filtered_attributes, 
                                             report_dir=REPORT_DIR, 
                                             experiments_list=experiments_list, 
                                             graph_nrs=graph_nrs
                                             )

Graph dir: /Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/pokec_semi/results/graph_0,
                             exp_graph_name: pokec semi 0,
                             graph_name: graph_0
Confusion reports for pokec semi 0 created
and saved in /Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/reports/confusion_reports.
Graph dir: /Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/pokec_distinct/results/graph_0,
                             exp_graph_name: pokec distinct 0,
                             graph_name: graph_0
Confusion reports for pokec distinct 0 created
and saved in /Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/reports/confusion_reports.
Graph dir: /Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/pokec_distinct/results/graph_1,
                             exp_graph_name: pokec distinct 1,
                             graph_name: graph_1
Confusion reports for pokec distinct 1 created
and saved in /Volumes/tcs_jf_fair_node_sampling/test_exprmt_diff_nr_graphs/data/reports/confusion_reports.

### Combined reports

for plotting over multiple experiments, the code will create a combined report for each graph and biasing strategy

In [9]:
create_combined_reports(d_experiments=d_experiments, 
                                       report_dir=REPORT_DIR, 
                                       graph_nrs=graph_nrs, 
                                       )

/Users/jf/_lokal/PAPER1_fairnode/fair_nodesampling/report/report_utils/pokec_combined_reports.py:87: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, pd.DataFrame({
/Users/jf/_lokal/PAPER1_fairnode/fair_nodesampling/report/report_utils/pokec_combined_reports.py:137: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, pd.DataFrame({
/Users/jf/_lokal/PAPER1_fairnode/fair_nodesampling/report/report_utils/pokec_combined_reports.py:137: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, pd.DataFrame({
/Users/jf/_lokal/PAPER1_fairnode/fair_nodesampling/report/report_utils/pokec_combined_reports.py:87: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, pd.DataFrame({
/Users/jf/_lokal/PAPER1_fairnode/fair_nodesampling/report/report_utils/pokec_combined_reports.py:137: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, pd.DataFrame({
/Users/jf/_lokal/PAPER1_fairnode/fair_nodesampling/report/report_utils/pokec_combined_reports.py:137: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, pd.DataFrame({
/Users/jf/_lokal/PAPER1_fairnode/fair_nodesampling/report/report_utils/pokec_combined_reports.py:87: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, pd.DataFrame({
/Users/jf/_lokal/PAPER1_fairnode/fair_nodesampling/report/report_utils/pokec_combined_reports.py:137: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, pd.DataFrame({
/Users/jf/_lokal/PAPER1_fairnode/fair_nodesampling/report/report_utils/pokec_combined_reports.py:137: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, pd.DataFrame({